extends main_layout

block append head
  title Harp Editor - Contents

block body
  include _shared/nav
  include _shared/content_nav

  .container(style="margin-top:15px;")
    .row.hb-status-bar
      .col-sm-9.hb-status-col
        span Viewing all 
        b Site Pages
      .col-sm-3.hb-status-col(style="border-left:1px solid #efefef;")
        a(href="#")
          i.fa.fa-plus.fa-fw(style="margin-right:6px")
          a(href="/admin/content/new?path=/") New Top Level Page         

    .row
      .col-sm-12
        table.table.table-hover.table-bordered
          each file, k in files
            - if (!isHidden(files[k]))
              tr
                td.table-main-col
                  a(href="/admin/publish?path=#{files[k]}")= fileToTitle(files[k])
                  small.pull-right.hb-muted= files[k]
                td
                  form(method="post", action="/admin/content")
                    input(type="hidden", name="_method", value="delete")
                    input(type="hidden", name="file", value="#{files[k]}")
                    button.btn.btn-link
                      i.glyphicon.glyphicon-remove.text-muted
                td
                  a.btn.btn-link(href="#{link(files[k])}") 
                    i.glyphicon.glyphicon-link.text-muted