!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Rob Ellis')
    link(rel='shortcut icon', href='/editor/img/favicon.png')
    
    link(href='/editor/css/bootstrap.min.css', rel='stylesheet')
    link(href='/editor/css/main.css', rel='stylesheet')

    script(src="/editor/js/jquery-2.0.3.min.js").
    script(src="/editor/js/bootstrap.min.js").
    block head  
  body
    block body
