extends main_layout

block append head
  title Harp Editor - Members

block body
  include _shared/nav


  .container(style="margin-top:15px;")
    .row.hb-status-bar
      .col-sm-9.hb-status-col
        span Viewing all 
        b Members
      .col-sm-3.hb-status-col(style="border-left:1px solid #efefef;")
        a(href="/admin/member/new")
          i.glyphicon.glyphicon-plus.glyphicon-fw(style="margin-right:6px")
          span New Member
    .row
      .col-sm-12
        table.table.table-hover.table-bordered
          - for(var i = 0; i < members.length; i++)
            tr
              td.table-main-col
                a(href="#") #{memberDisplayName(members[i])}
              td
                a.btn.btn-link(href="#")
                  i.glyphicon.glyphicon-remove.text-muted